<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippotranslation:translated</sv:value>
    <sv:value>mix:referenceable</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>b87a8b0d-d4ba-48c8-a54d-dfd1d94ecbce</sv:value>
  </sv:property>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-events-document</sv:value>
    <sv:value>new-events-folder</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>616397c7-3b65-49d9-9673-cf2602fb9d28</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <sv:node sv:name="2016">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>hippotranslation:translated</sv:value>
      <sv:value>mix:referenceable</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>0734e814-d1b8-42af-86f9-01999f328f70</sv:value>
    </sv:property>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-events-document</sv:value>
      <sv:value>new-events-folder</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>e9d7fd2d-687e-4c5b-b0ba-45bdcbe120ac</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>en</sv:value>
    </sv:property>
    <sv:node sv:name="11">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippotranslation:translated</sv:value>
        <sv:value>mix:referenceable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>1a2a1f34-f164-4698-9c15-af0506908471</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-events-document</sv:value>
        <sv:value>new-events-folder</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>f47537d0-96ad-409c-8d76-39e85e5d44c0</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:node sv:name="breakfast">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>hippo:named</sv:value>
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>b8f5eb45-7200-452a-b26e-3118a0dc60b8</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:name" sv:type="String">
          <sv:value>Breakfast</sv:value>
        </sv:property>
        <sv:node sv:name="breakfast">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippoonspringboot:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>1401efe6-86f4-4a79-ac82-61caec5a1ae6</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/11/breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:date" sv:type="Date">
            <sv:value>2013-11-12T08:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:enddate" sv:type="Date">
            <sv:value>2017-11-11T16:22:00.000-05:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:introduction" sv:type="String">
            <sv:value>Start the day with a nice breakfast.</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:location" sv:type="String">
            <sv:value>Room 101</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:title" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:11:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>7be43748-82e9-4315-a679-afa9d48e5067</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:node sv:name="hippoonspringboot:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Breakfast is served starting from 8:00 until 9:30.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="hippoonspringboot:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>c8f03498-56eb-46c9-83b2-cf014f2e03d7</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="introduction-speech">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>hippo:named</sv:value>
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>18e36c35-429d-4fee-b76e-eeabcbfc08bb</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:name" sv:type="String">
          <sv:value>Introduction speech</sv:value>
        </sv:property>
        <sv:node sv:name="introduction-speech">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippoonspringboot:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>0f20438a-e5fc-4132-921a-cb9f3050c2ae</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/11/introduction-speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:date" sv:type="Date">
            <sv:value>2013-11-12T10:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:enddate" sv:type="Date">
            <sv:value>2017-11-11T16:22:00.000-05:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:introduction" sv:type="String">
            <sv:value>After breakfast there will be an introductory speech.</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:location" sv:type="String">
            <sv:value>Room 400</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:title" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:02:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>8959c073-920a-4b96-bc7a-063e0f05b08d</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:node sv:name="hippoonspringboot:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Speech will be about the workshop.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="hippoonspringboot:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>9f32434e-84e3-4150-a6f2-d89a67be2fb1</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="workshop">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>7a29ec60-2689-48b2-aca2-49696c5c23eb</sv:value>
        </sv:property>
        <sv:node sv:name="workshop">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippoonspringboot:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>efa1614a-9579-407b-af2f-dbfe6ec72ae3</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/11/workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:date" sv:type="Date">
            <sv:value>2013-11-12T13:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:enddate" sv:type="Date">
            <sv:value>2017-11-11T16:22:00.000-05:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:introduction" sv:type="String">
            <sv:value>Workshop starts at 1:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:location" sv:type="String">
            <sv:value>Room 600</sv:value>
          </sv:property>
          <sv:property sv:name="hippoonspringboot:title" sv:type="String">
            <sv:value>Workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:18:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>1634fba3-db12-447f-aa58-598bbda62ab4</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:node sv:name="hippoonspringboot:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;
          &lt;strong&gt;Everybody &lt;/strong&gt;
          &lt;p&gt;can join the workshop and start practicing what they learned during the last
          week.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="hippoonspringboot:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>d035387b-f9ce-49f6-bcb0-9ab6915a2d5f</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
